.screen_container{
    width: calc(100% - 100px);
    height: 100%;
    background-color: #040B1A;
    opacity: 1;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #040B1A 70px
      ),
      repeating-linear-gradient(#040B1A, #051635);

}

.flex {
    display: flex;
}



